<div class="container">
    <div class="card my-5 rounded shadow">
        <div class="card-header bg-light text-center user-select-none">
            <img class="py-2" src="assets/img/DAI.svg" />
        </div>
        <div class="card-body">


            <div *ngIf="!web3.account" class="text-center py-5">
                <button class="w-50 btn btn-outline-primary" (click)="selectAccount()">Connect Metamask</button>
            </div>
            <div *ngIf=" !!web3.account">
                <div class="row mb-4">
                    <div class="col border-right text-center">
                        <div class="col-auto mx-auto">
                            <div class="h3 font-weight-bold text-secondary">

                                <img src="assets/img/DAI.svg" style="height:25px" />
                                DAI
                            </div>
                            <div class="h3 mt-3">{{daiBalance | number:'1.2'}}</div>

                            <div class="col-6 mx-auto mt-4">
                                <form [formGroup]="depositForm" (ngSubmit)="deposit()">
                                    <div class="input-group ">
                                        <input type="number" class="form-control text-right" formControlName="amount" />
                                    </div>
                                    <button [disabled]="depositForm.invalid" type="submit" class="btn btn-primary w-100">Deposit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="col-auto mx-auto">
                            <div class="h3 font-weight-bold text-secondary">
                                <img src="assets/img/idle.svg" style="height:25px" />

                                Idle DAI</div>

                            <div class="h3 mt-3">{{idleBalance| number:'1.2'}}</div>

                            <div class="col-6 mx-auto mt-4">
                                <form [formGroup]="redeemForm" (ngSubmit)="redeem()">
                                    <div class="input-group ">
                                        <input type="number" class="form-control text-right" formControlName="amount" />
                                    </div>
                                    <button [disabled]="redeemForm.invalid" type="submit" class="btn btn-primary w-100">Redeem</button>
                                </form>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="h3 text-center">
                <span class="text-dark mr-2">APR:</span>
                <span class="text-primary">{{apr | percent:'1.2'}}</span>
            </div>

            <!--button (click)="test()" class="btn btn-primary">Go somewhere</button-->
        </div>
    </div>
</div>